.App {
  text-align: center;
}

.app__form {
  padding: 1.25rem;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: lightblue;
  width: 95vw;
  margin: 1rem;
}

.app__formcontrol {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1 !important;
}

.app__iconBtn {
  flex: 0 !important;
}
